<div class="col-4">
  <figure class="figure">
    <%= image_tag image.picture.medium.url, class: 'figure-img img-fluid rounded'%>

    <figcaption class="figure-caption"><%= image.description %>
      <%= link_to t('.edit_link'), edit_image_path(image) %>
      <%= link_to t('.remove_link'), image, method: :delete, data: { confirm: 'sure?'} %>
    </figcaption>
  </figure>
</div>
